a{
    cursor: pointer;
    text-decoration: none;
}


/* ヘッダー */
header{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    height: 10vh;
    color: white;
    
   
}
.header-left img{
    width: 30%;
    margin-left: 40px;
} 
.header-left{
    display: flex;
    
}

.header-right ul{
    display: flex;
    align-items: center;
}
.header-right li{
    padding: 0px 10px;
    text-align: center;   
}
 
li + li{
    border-left: 1px solid white;   
}

.tpoint{
    display: flex;
    align-items: center;
}



/* セクション kv*/
.kv{
    height: 50vh;
    background-color: orange;
    color: white;
    
}
.kv-container{
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 2.5em;
    margin: 0;
    width: 30%;
}
h1::before{
    content: "飲食LIFE 10年間";
    font-size: 0.4em;
    display: block;
}
.kv p{
    margin-bottom: 0;
}
.app{
    display: flex;
}
/* サーチ */

.search{
    width: 100%;
    background-color: white;
    border: 1px gainsboro solid;
    /* box-shadow: 1px; */
    margin: 0 auto;
    position: relative; 
    
}
form{
    background-color: white;
    height: 10%;
    position: absolute;
    bottom: 22px;
    left: 15%;
}
.search-box{
    background-color: white;
    padding: 20px;
}
label{
    background-color: white;
    margin: 20px;
    font-size: 15px;
    text-align: center;
}
input{
    border: none;
    border: 1px solid gainsboro;
    padding: 10px;

}
/* メイン */
main{
    width: 90%;
    margin: 0 auto;
    /* display: flex; */

}
.main-left{
    width: 80%;
}
.main-rigth{
    width: 20%;
    margin-top: 200px;
}
.main{
    display: flex;
}
/* エリアからさがす */
.area ,.genre{
    
    margin-top: 200px;
    
}
.area-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.area-box{
    border: 1px solid black;
    height: 100px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.area-box:hover{
    opacity: 0.7;

}
.another-area a{
    display: flex;
    align-items: center;
    
}
img{
    padding-right: 10px;
}
/* エリアその他 */
.another-container{
    /* display: flex; */
    width: 60%;
    /* margin: 0 10px; */

}
.another-area{
    display: flex;
    /* width: 60%; */
    font-size: 12px;
    margin: 5px 10px;
    
}
dl{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
dd{ 
    margin: 0 10px;
    margin-left: 0;   
    color: blue;
    
}
dt{
    font-weight: bold;
    width: 20%;
}

/* ジャンルから探す */
.genre-container{
    display: flex;
}
.genre-box{
    position: relative;
    width: 30%;
}
.genre-box p{
    position: absolute;
    bottom: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    color: white;
}
.genre-box img{
    width: 100%;
}

/* ジャンルから探すいっち */
.genre-name{
    display: inline-flex;
    margin: 1.2rem 1.2rem 0 0;
    border: 1px solid #e1e1e1;
    color: #595960;
    line-height: 2;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5%;
}
/* メインみぎ */
.number{
    width: 90%;
    display: flex;

}
/* ログイン */
.login{
    outline:10px solid #faf8f5;
    border: 1px solid #e1e1e1;
    width: 90%;
    height: auto;

}
.login-title{
    font-weight: bold;
}
.btn{
    font-weight: bolder;
    color: white;
    background-color:#82ab24;
    /* border:1px solid #82ab24; */
    border-radius: 5px;
    padding: 10px 20px;
    width: 80%;
    
}
.btn:hover{
    /* opacity:0.8 ; */
    background-color:#9c0 ;

}
/* おしらせ */
.notice p,.pr p {
    font-weight: bolder;
}
.notice span::before{
    content: "お知らせ";
    background-color:#bcb08a ;
    color: white;
    border-radius: 5px;
    padding: 0px 8px;
    align-items: center;
}