a {
    cursor: pointer;
    text-decoration: none;
}

/* * {
    box-sizing: border-box;
    border: 1px solid black;
} */

body {
    position: relative;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    /* background: rgb(255, 166, 0); */
    height: 10vh;
    width: 100%;
    color: white;
    position: absolute;
    font-size: 1px;


}

.header-left img {
    height: 8vh;
    width: auto;
    /* margin-left: 40px; */
}

.header-left {
    display: flex;
    margin: 0 80px;
    align-items: center;


}

.header-right {
    width: 60%;
    margin-right: 80px;
}

.header-right ul {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 10vh;
    width: 100%;
    



}

.header-right li {
    display: flex;
    padding: 0px 10px;
    /* text-align: center;      */
}

.header-right a {
    width: 100%;

}

.header-right img {
    height: 20px;
    width: auto;
    padding: 0;

}

li+li {
    border-left: 1px solid white;
}

.tpoint {
    display: flex;

}



/* セクション kv*/
.kv {
    height: 60vh;
    background: radial-gradient(orange, rgb(239, 113, 9));
    color: white;
    padding: 10vh;

}

.kv-container {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin: 0;

}

h1::before {
    content: "飲食LIFE 10年間";
    font-size: 0.4em;
    display: block;
}

.app {
    display: flex;
    margin-top: 30px;
}

.app img {
    height: 50px;


}

/* サーチ */

.search {
    width: 100%;
    background-color: white;
    position: relative;


}

form {
    background-color: white;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 42px;
    margin: 0 auto;
    /* left: 15%; */

}

.search-box {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 3px 0px rgba(128, 128, 128, 0.23);
}

label {
    background-color: white;
    margin: 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 15%;

}

input {
    width: 15%;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

/* メイン */
main {
    width: 90%;
    margin: 0 auto;
    /* display: flex; */

}

.main-left {
    width: 80%;
}

.main-rigth {
    width: 20%;
    margin-top: 200px;
}

.main {
    display: flex;
}

/* エリアからさがす */
.area,
.genre {

    margin-top: 100px;

}

.area-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.area-box {
    border: 1px solid black;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 3px 0px rgba(128, 128, 128, 0.23);
    height: 80px;
    width: 30%;
    margin: 10px;
    position: relative;
}

.area-box:hover {
    opacity: 0.7;
    /*カーソルもっていった時の透明度*/

}
/* .caption{
    font-size: 1em;
    text-align: center;
    color: white;
} */
/* .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.2s; */
/* } */
.area-box img {
    padding-right: 10px;
    height: 80px;
    border-radius: 5px;
}

.area-box a {
    display: flex;
}

.area-box div {
    align-self: center;
    margin-left: 50px;
    font-size: 1.3em;
    font-weight: bold;
}

.area-box div span {
    font-size: 0.8em;
    font-weight: 1;
    margin-left: 10px;
}


/* エリアその他 */
.another-container {
    /* display: flex; */
    width: 60%;
    /* margin: 0 10px; */

}

.another-area {
    display: flex;

    /* width: 60%; */
    font-size: 1em;
    margin: 30px 10px;

}

dl {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

dd {
    margin: 0 10px;
    margin-left: 0;
    color: blue;

}

dt {
    font-weight: bold;
    width: 20%;
}

/* ジャンルから探す */
.genre-container {
    display: flex;
    justify-content: flex-start;
}

.genre-box {
    position: relative;
    width: 15%;
    height: auto;
}

.genre-box p {
    position: absolute;
    bottom: 0%;
    left: 0%;
    font-size: 10px;
    color: white;
    animation: genre-name .3s ease infinite alternate;
}

@keyframes genre-name {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.genre-box img {
    width: 100%;
    padding-right: 15px;
    opacity: block 0.8;
}


/* ジャンルから探すいっち */
.genre-name {
    display: inline-flex;
    margin: 1.2rem 1.2rem 0 0;
    border: 1px solid #e1e1e1;
    color: #595960;
    line-height: 2;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5%;
}

/* メインみぎ */
.number {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.number-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.number span {
    display: flex;
    align-items: center;
}

.count {
    /* font-weight: bold; */
    font-size: 1.5em;
    margin-right: 0;
}

.digit,
.unit {
    font-size: 0.5em;
}

.number-box+.number-box {
    border-left: 1px solid #e1e1e1;
    padding: 5px;
}

.unit {
    margin-top: 0;
}

/* ログイン */
#login {
    outline: 25px solid #faf8f5;
    border: 1px solid #e1e1e1;
    width: 90%;
    height: 300px;
    margin-top: 50px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    align-self: start;
}

#login .login-title {
    font-weight: bold;
    font-size: 1em;
}

#login p {
    font-size: 1em;
}

.btn {
    font-weight: bolder;
    color: white;
    font-size: 0.5em;
    background-color: #82ab24;
    /* border:1px solid #82ab24; */
    border-radius: 5px;
    padding: 10px 20px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

}

.btn:hover {
    /* opacity:0.8 ; */
    background-color: #9c0;

}

/* おしらせ */
.notice {
    margin-top: 50px;
}

.notice p,
.pr p {
    font-weight: bolder;
}

.notice span::before {
    content: "お知らせ";
    background-color: #bcb08a;
    color: white;
    border-radius: 5px;
    padding: 0px 8px;
    align-items: center;
}

/* レスポンシブ対応 */
/* スマホ */
@media screen and (max-width:800px) {

    /* ヘッダー */
    .header-left {
        margin: 0 20px;
    }

    .header-right {
        margin-right: 20px;
    }

    /* セクションKV */

    /* サーチ */
    .search {
        font-size: 0.5em;
    }

    input {
        font-size: 0.5em;
    }

    /* メイン */
    .main {
        flex-direction: column;
    }

    .number{
        order: -1;
    }

    /* メイン右 */
    .main-rigth {
        width: 100%;
        margin: 100px auto;
        font-size: 0.7em;
    }
    .number{
        justify-content: center;
    }

    .number-box {
        flex-direction: row;
        align-content: center;
        padding: 10px;
    }

    .unit {
        margin: 0;
    }

    #login {
        display: none;
        /*要素を非表示にしてきゅっと詰める*/
    }
    .pr{ 
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .pr p{
        align-self: flex-start;
    }
    

    /* メイン左 */
    .main-left {
        margin-top: 50px;
    }

    /* エリアから探す */
    .another-container{
        width: 100%;
    }
    .area-box{
        border: 0;
        box-shadow: none;
        width: 30%;
    }
    
    .area-box div{
        visibility: hidden;
    }
    .area-box img{
        padding: 0;
        border-radius: 5px 5px 5px 5px ;
    }
    h2 {
        font-size: 1.3em;
    }
    /* エリアその他 */
    .another-area{
        margin: 10px;
    }
    dl{
        display: block;
        font-size: 0.5em;
    }
    dd{
        margin: 0 2px;
    }

    /* ジャンルから探す */
    .genre-container{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .genre-box{
        width: 30%;
    }
    .genre-name{
        font-size: 0.5em;
        padding: 3px 6px;
        margin: .5rem .5rem 0 0;

    }

}